#filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .filter{
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
    }
    .filter:hover{
        opacity: 1;
        cursor: pointer;
    }
    .filter p{
        font-size: 0.8rem;
    }
    .filter a{
    text-decoration: none;
    color: inherit;
    }

    .tax-info{
        display: none;
    }

    .tax-toggle{
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.25rem;
        padding: 1rem;
        margin-left: 2rem;
        display: flex;
        align-items: center;
    }

    .filters-wrapper{
    width:100%;
    }

/* Mobile only */
@media (max-width:768px){
    #filters{
        display:none;
    }

    #filters.show{
        display:flex;
    }

    .tax-toggle{
        margin-left:0;
        margin-top:1rem;
        width:100%;
    }
}



   /* Reviews Responsive Fix */


@media (max-width:768px){

    .card.col-5{
        width:100% !important;
        margin-left:0 !important;
    }

    .card-body{
        padding:1rem;
    }

    .starability-result{
        margin-bottom:0.5rem;
    }

    .card form button{
        width:100%;
    }

    textarea{
        width:100%;
        font-size:0.95rem;
    }
}

