body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 
.container{
    flex: 1;
}

/*Navbar Styling*/
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222  !important;    /* !important is used to override bootstrap default styling */
}

/*Footer Styling*/
.f-info-links a {
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-links ,
.f-info-socials , .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info {
    text-align: center;
    display: flex;
    height: 8rem;
    flex-wrap: wrap;
    background-color: #ebebeb;
    justify-content: center;
    align-items: space-evenly;
}

/* styling for the Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p {
    font-weight: 400 !important;
}
.listing-link {
    text-decoration: none;
}

/*Card Hover Effect*/
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/*New Listing Page Styling*/
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/*Edit Listing Page Styling*/
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/*Show Listing Page Styling*/
.show-img{
    height: 30vh;
}

.btns{
    display: flex;;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}


/* Map Responsive Fix */
#map{
    width: 100%;
    max-width: 100%;
}

/* Mobile */
@media (max-width:768px){
    #map{
        height: 250px;
    }
}

/* Tablet */
@media (min-width:769px) and (max-width:992px){
    #map{
        height: 300px;
    }
}


